
@{
    ViewBag.Title = "WellOfEternity";
}

<h2>Well Of Eternity</h2>

<p>
    Well of Eternity is one of the three new heroic dungeons, introduced in
    World of Warcraft Patch 4.3. The dungeon contains 3 boss encounters. Each of
    the first two bosses drops one epic item of 378 item level, while the final
    boss drops two items, as well as a <a rel="nofollow" class="q3" href="http://www.wowdb.com/items/52078">Chaos Orb</a>.
</p>

<p>
    This is the middle dungeon of the three. Here, with the help of Nozdormu,
    you will travel back in time in order to recover the Dragon Soul and bring it
    to the present, where it will be used to help defeat Deathwing. During this
    dungeon, you will receive help from notable lore characters such as
    Illidan Stormrage and Tyrande Whisperwind.
</p>

<h2 id="sec-1">1. Introduction</h2>

<p>

    <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-map.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
        <img alt="Hour of Twilight Map" src="//static.icy-veins.com/images/wow/well-of-eternity-map-very-small.jpg" />
    </a>
    Well of Eternity can be accessed from the Caverns of Time instance hub, or
    through the Dungeon Finder. The instance features 3 boss encounters, that must
    be completed in order. The entire dungeon is heavily scripted, and you will be
    quite clearly driven in the right direction (mostly by Illidan).
</p>

<p>
    Our guide will provide you with all the necessary information in order to
    defeat the bosses and complete the dungeon. Additionally, we will also provide
    you with information regarding the 4 quests associated with this dungeon.
</p>

<h2 id="sec-2">2. Loot</h2>

<div class="hidden_section_with_title">

    <h3 id="sec-2-1">2.1. Armor</h3>

    <table class="loot_table_armor_source">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
        </colgroup>
        <tr>
            <th>Item Name</th>
            <th>Armor</th>
            <th>Slot</th>
            <th>Main Stats</th>
            <th>Source</th>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72838">Cloak of the Royal Protector</a></td>
            <td></td>
            <td>Back</td>
            <td>Strength/Mastery</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72883">Historian's Sash</a></td>
            <td>Cloth</td>
            <td>Waist</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/76158">Courtier's Slippers</a></td>
            <td>Cloth</td>
            <td>Feet</td>
            <td>Intellect/Spirit</td>
            <td>Trash Mobs</td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72836">Slippers of Wizardry</a></td>
            <td>Cloth</td>
            <td>Feet</td>
            <td>Intellect/Hit</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72839">Cowl of Highborne Sorcerors</a></td>
            <td>Cloth</td>
            <td>Head</td>
            <td>Intellect</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72882">Chronicler's Chestguard</a></td>
            <td>Leather</td>
            <td>Chest</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72840">Spaulders of Eternity</a></td>
            <td>Leather</td>
            <td>Shoulders</td>
            <td>Intellect</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/76157">Waterworn Handguards</a></td>
            <td>Leather</td>
            <td>Hands</td>
            <td>Intellect/Spirit</td>
            <td>Trash Mobs</td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72847">Helm of Thorns</a></td>
            <td>Leather</td>
            <td>Head</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72835">Puppeteer's Pantaloons</a></td>
            <td>Leather</td>
            <td>Legs</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72830">Peroth'arn's Belt</a></td>
            <td>Leather</td>
            <td>Waist</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72877">Chain of the Demon Hunter</a></td>
            <td>Mail</td>
            <td>Waist</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72841">Demonsbane Chestguard</a></td>
            <td>Mail</td>
            <td>Chest</td>
            <td>Intellect</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72834">Breastplate of the Queen's...</a></td>
            <td>Mail</td>
            <td>Chest</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72848">Legguards of the Legion</a></td>
            <td>Mail</td>
            <td>Legs</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72879">Boots of the Treacherous...</a></td>
            <td>Plate</td>
            <td>Feet</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72843">Helm of Power</a></td>
            <td>Plate</td>
            <td>Head</td>
            <td>Intellect</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72842">Annihilan Helm</a></td>
            <td>Plate</td>
            <td>Head</td>
            <td>Strength/Parry</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72832">Girdle of the Queen's...</a></td>
            <td>Plate</td>
            <td>Waist</td>
            <td>Strength</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72881">Treads of the Past</a></td>
            <td>Plate</td>
            <td>Feet</td>
            <td>Strength/Mastery</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a></td>
        </tr>
    </table>

    <h3 id="sec-2-2">2.2. Weapons</h3>

    <table class="loot_table_non_armor_source">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
        </colgroup>
        <tr>
            <th>Item Name</th>
            <th>Type</th>
            <th>Main Stats</th>
            <th>Source</th>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72833">Scepter of Azshara</a></td>
            <td>One-Hand Mace</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72827">Gavel of Peroth'arn</a></td>
            <td>One-Hand Mace</td>
            <td>Strength/Parry</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72828">Trickster's Edge</a></td>
            <td>One-Hand Axe</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72844">Pit Lord's Destroyer</a></td>
            <td>Two-Handed Mace</td>
            <td>Strength/Mastery</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72846">Thornwood Staff</a></td>
            <td>Staff</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72878">Demonic Skull</a></td>
            <td>Off-Hand Frill</td>
            <td>Intellect/Spirit</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72829">Orb of the First Satyrs</a></td>
            <td>Off-Hand Frill</td>
            <td>Intellect/Hit</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72876">Ironfeather Longbow</a></td>
            <td>Bow</td>
            <td>Strength</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a></td>
        </tr>
    </table>

    <h3 id="sec-2-3">2.3. Rings and Trinkets</h3>

    <table class="loot_table_non_armor_source">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
        </colgroup>
        <tr>
            <th>Item Name</th>
            <th>Type</th>
            <th>Main Stats</th>
            <th>Source</th>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72880">Alurmi's Ring</a></td>
            <td>Ring</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72845">Mannoroth's Signet</a></td>
            <td>Ring</td>
            <td>Agility</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72837">Queen's Boon</a></td>
            <td>Ring</td>
            <td>Dodge/Parry</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72898">Foul Gift of the Demon Lord</a></td>
            <td>Trinket</td>
            <td>Intellect/Mastery</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72899">Varo'then's Brooch</a></td>
            <td>Trinket</td>
            <td>Strength/Mastery</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a>/<a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a></td>
        </tr>
        <tr>
            <td><a rel="nofollow" class="q4" href="http://www.wowdb.com/items/72831">Horned Band</a></td>
            <td>Ring</td>
            <td>Intellect</td>
            <td><a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a></td>
        </tr>
    </table>
</div>

<h2 id="sec-3">3. Quests</h2>

<div class="hidden_section_with_title">
    <p>There are 4 quests that can be completed within the instance.</p>

    <p>
        The first 3 (<a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30099">In Unending Numbers</a>, <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30100">The Vainglorious</a>, and
        <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a>) are part of the quest chain that
        runs through the three Hour of Twilight dungeons.
    </p>

    <p>
        The fourth quest is <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a>. In order to
        receive it, you must have completed all the quests in End Time.
    </p>

    <p>
        The quests reward you with item level 378 gear, just like the bosses
        (see loot section above).
        Failure to complete the quests will not affect your ability to progress
        through the dungeons, or the Dragon Soul raid.
    </p>

    <h3 id="sec-3-1">3.1. In Unending Numbers</h3>

    <p>
        This quest is given by Nozdormu, at the entrance of the instance,
        after you turn in <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30098">The Well of Eternity</a>, which you were given after
        completing the <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30096">Murozond</a> quest in End Time.
    </p>

    <p>
        The objectives of this quest will be completed automatically as you follow
        Illidan through the first part of the dungeon.
    </p>


    <h3 id="sec-3-2">3.2. The Vainglorious</h3>

    <p>
        After defeating Peroth'arn, you will find Nozdormu at the end of the staircase
        that leads to the rest of the instance. Upon turning in <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30099">In Unending Numbers</a>,
        he will give you the next quest of the chain: <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30100">The Vainglorious</a>.
    </p>

    <p>
        This quest simply requires you to succeed in the encounter with
        Azshara, the second boss of the dungeon.
    </p>

    <h3 id="sec-3-3">3.3. The Path to the Dragon Soul</h3>

    <p>
        After defeating Azshara, you will be taken to the next part of the dungeon
        where Nozdormu will be waiting for you. Upon turning in <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30100">The Vainglorious</a>,
        he will give you the next quest of the chain: <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30101">The Path to the Dragon Soul</a>.
    </p>

    <p>
        This quest simply requires you to succeed in the encounter with Mannoroth,
        the third boss.
    </p>

    <p>
        After defeating this final boss, you will turn in the quest to Illidan,
        who will send you to Hour of Twilight.
    </p>

    <h3 id="sec-3-4">3.4. Documenting the Timeways</h3>

    <p>
        <a rel="nofollow" class="quest" href="http://www.wowdb.com/quests/30104">Documenting the Timeways</a> is given by Alurmi, who is standing next to
        Nozdormu at the entrance of the instance.
    </p>    <div class="proper-ad-unit">
        <div id="proper-ad-icyveins_content_2">
            <script type="text/javascript">
      if (window.proper_display && window.innerWidth < 1070) {
        proper_display('icyveins_content_2');
      }
            </script>
        </div>
    </div>



    <p>
        It requires you to kill specific units inside the instance. Fortunately,
        through the normal course of the instance, you will kill these units anyway.
    </p>

    <p>
        After defeating the last boss, you will be able to turn in this quest to
        Alurmi, who, by then, will have caught up with your group.
    </p>
</div>

<h2 id="sec-4">4. Closing the Portals and Peroth'arn</h2>

<p>
    As soon as the dungeon starts, after a short speech from Nozdormu and
    Peroth'arn, you will have to defeat a large Legion Demon. Once this mob is
    dead, you will be greeted by Illidan, who will turn you and your entire party
    invisible and offer instructions for proceeding in the dungeon.
</p>

<h3 id="sec-4-1">4.1. Trash and Portals</h3>

<p>
    Simply follow Illidan's commands, and you will be guided to three trash
    packs, each guarding a set of green crystals. Kill the mobs (they are very
    easy to dispose of) and right-click the small crystal. Once you have done
    this with all three sets of crystals, the many demons occupying the
    courtyard will disappear, and you will be able to engage Peroth'arn.
</p>

<h3 id="sec-4-2">4.2. Peroth'arn</h3>

<p>
    <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55085">Peroth'arn</a> is a tank and spank encounter with a short
    lore intermission when the boss' health reaches 70%.
</p>

<p>
    The fight is relatively easy, but to avoid making mistakes,
    you should keep in mind a few things:
</p>

<ul>
    <li>
        <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-peroth-arn-felflames.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
            <img alt="Hour of Twilight - Peroth'arn - Void Zones" src="//static.icy-veins.com/images/wow/well-of-eternity-peroth-arn-felflames-small.jpg" />
        </a>
        He regularly places void zones on the ground (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_felpyroblast.jpg" alt="Fel Flames Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/108141">Fel Flames</a></span>).
    </li>
    <li>
        He deals increasing damage to the tank, by stacking a debuff on him
        (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_felflamering.jpg" alt="Corrupting Touch Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/108101">Corrupting Touch</a></span>).
    </li>
    <li>
        He casts <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_felfirenova.jpg" alt="Fel Decay Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/105544">Fel Decay</a></span> on a random target, dealing a large amount of
        Shadow damage and extra Shadow damage over time. When the healer heals a target
        affected by the DoT, the healer will take 50% of the healing done, as
        damage.
    </li>
</ul>

<p>
    <a class="highslide map float_left" href="//static.icy-veins.com/images/wow/well-of-eternity-peroth-arn-eyes.jpg" onclick="return hs.expand(this, { anchor: 'top left' })">
        <img alt="Hour of Twilight - Peroth'arn - Eyes" src="//static.icy-veins.com/images/wow/well-of-eternity-peroth-arn-eyes-small.jpg" />
    </a>
    Around 70% health, Peroth'arn becomes invisible, and the entire party is cloaked
    by Illidan, becoming invisible as well. Peroth'arn will summon Eyes of
    Peroth'arn that will be searching the area. For the next 40 seconds, players
    must avoid coming in close proximity with the eyes, to avoid being discovered.
</p>

<p>
    If a player is discovered by an Eye of Peroth'arn, Peroth'an will attack
    them and enrage himself for 15 seconds (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/ability_ghoulfrenzy.jpg" alt="Fel Quickening Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/105526">Fel Quickening</a></span>). If 40 seconds
    go by and no one is discovered by an Eye, then the boss becomes visible and
    takes extra damage for 15 seconds (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/ability_warlock_improvedsoulleech.jpg" alt="Enfeebled Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/105442">Enfeebled</a></span>).
</p>

<p>
    Finally, at 20% health, the boss goes into a frenzy, although this is quite
    easy to deal with.
</p>

<h4 id="sec-4-2-1">4.2.1. Achievement: Lazy Eye</h4>

<p>
    The <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/inv_misc_eye_02.jpg" alt="Lazy Eye Icon" /> <a rel="nofollow" class="achievement" href="http://www.wowdb.com/achievements/6127">Lazy Eye</a></span> achievement requires that your group defeats Peroth'arn
    without any member being detected by one of his eyes, during the short
    transitional phase described above. This means that all 5 group members will
    have to avoid detection for 40 seconds.
</p>

<p>
    While this achievement is simply in concept, it is quite difficult to
    execute, as the eyes move rather quickly, and even if one manages to avoid
    their own eye, it is possible to come into range of eyes that are following
    other players. In addition to simply trying to avoid the eyes, we recommend
    the following two strategies:
</p>

<ul>
    <li>
        Have the entire party stacked together (preferably following a specfic
        member, who can be marked) and running around the outer edges of the room.
        Movement speed increasing buffs can help here (such as
        <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_druid_stampedingroar_cat.jpg" alt="Stampeding Roar Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/106898">Stampeding Roar</a></span>);
    </li>
    <li>
        Have 2 or 3 of your party members purposefully die as soon as the boss
        is pulled, and leave them dead during the Eye phase. This will make avoiding
        the eyes much easier for the remaining players. Afterwards, make use of combat
        resurrections to bring these players back.
    </li>
</ul>

<h2 id="sec-5">5. Queen Azshara's Palace</h2>

<p>
    After defeating Peroth'arn, Illidan will go his own way and you will have
    to head on towards <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54853">Queen Azshara</a>'s Palace. You will encounter a few mobs along
    the way, but they are not difficult to kill and should present no issues for
    your party. The only thing to watch out for is the <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_felhellfire.jpg" alt="Fel Lightning Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102361">Fel Lightning</a></span> ability
    cast by the <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54747">Eye of the Legion</a> mobs for which your party should be spread out.
</p>

<p>
    The actual encounter against Queen Azshara is a bit more complicated, and
    it may prove harder to defeat.
</p>

<h3 id="sec-5-1">5.1. Azshara</h3>


<p>
    You do not fight Azshara herself, but her minions.
    She is immune for the entire duration of
    the fight, and only (occasionally) casts a spell that you must interrupt
    (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/ability_creature_cursed_05.jpg" alt="Total Obedience Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103241">Total Obedience</a></span>). Fortunately, the spell has an 8 second cast time and
    there is a very obvious emote, warning players. In addition to this, she will
    regularly mind control a random player. The mind control is broken by killing
    a "hand" (a hostile NPC) that appears above the mind controlled player (it
    has 150,000 health and dies quickly).
</p>

<p>
    In order to defeat Azshara, you will have to kill all 6
    of her Magi, although they are not all active at once.
    When you first engage Azshara, 2 Magi will become active. When one
    is killed, another 2 become active, and so on. Alternatively, if enough
    time passes and no Magi have been killed, another pair will activate
    anyway.
</p>    <div class="proper-ad-unit">
    <div id="proper-ad-icyveins_content_3">
        <script type="text/javascript">
      if (window.proper_display && window.innerWidth < 1070) {
        proper_display('icyveins_content_3');
      }
        </script>
    </div>
</div>



<p>
    There are three types of Magi, based on the regular Mage talent
    specialisations: Arcane, Fire, and Frost. There are 2 Magi of each
    type and 2 Magi of the same type never activate at the same time.
    They have the following abilities (we have underlined the really
    important ones):
</p>

<ul>
    <li>
        Arcane Magus:<ul>
            <li>does a moderate amount of party wide damage per second, while channeling <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_arcane_arcane01.jpg" alt="Arcane Shock Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102463">Arcane Shock</a></span> (cannot be interrupted);</li>
            <li>
                <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-azshara-arcane-bomb.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
                    <img alt="Hour of Twilight - Queen Azshara - Arcane Bomb" src="//static.icy-veins.com/images/wow/well-of-eternity-azshara-arcane-bomb-small.jpg" />
                </a>
                <b>summons an orb of Arcane energy that falls slowly towards the ground, dealing damage where it lands</b> (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_arcane_starfire.jpg" alt="Arcane Bomb Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102455">Arcane Bomb</a></span>).
            </li>
        </ul>
    </li>
    <li>
        Fire Magus:<ul>
            <li>nukes his main aggro target with <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_flamebolt.jpg" alt="Fireball Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102265">Fireball</a></span> (interruptible);</li>
            <li>deals damage to a random player and others within 10 yards of them (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/inv_trinket_firelands_02.jpg" alt="Firebomb Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102482">Firebomb</a></span>);</li>
            <li>deals party-wide damage (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_holy_excorcism_02.jpg" alt="Blast Wave Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102483">Blast Wave</a></span>).</li>
        </ul>
    </li>
    <li>
        Frost Magus:<ul>
            <li>deals damage to random players with <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_frost_frostbolt02.jpg" alt="Ice Fling Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102478">Ice Fling</a></span> (interruptible);</li>
            <li>
                <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-azshara-coldflame.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
                    <img alt="Hour of Twilight - Queen Azshara - Coldflame" src="//static.icy-veins.com/images/wow/well-of-eternity-azshara-coldflame-small.jpg" />
                </a>
                does a <b>ground attack that deals damage to enemies in a line</b> (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_blueflamering.jpg" alt="Coldflame Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102466">Coldflame</a></span>);
            </li>
            <li>charges random players, dealing moderate damage to everyone in 5 yards of the target location.</li>
        </ul>
    </li>
</ul>

<p>The encounter can be summarised as follows:</p>

<ul>
    <li>
        Interrupt Azshara's <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/ability_creature_cursed_05.jpg" alt="Total Obedience Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103241">Total Obedience</a></span> and kill the <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54728">Hand of the Queen</a>
        (to break the mind control).
    </li>
    <li>
        Stay spread out and avoid the various harmful ground effects that the magi
        use.
    </li>
    <li>Interrupt <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_flamebolt.jpg" alt="Fireball Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102265">Fireball</a></span> and <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_frost_frostbolt02.jpg" alt="Ice Fling Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/102478">Ice Fling</a></span>, and stun the magi whenever you can.</li>
</ul>

<h2 id="sec-6">6. Varo'then and Mannoroth</h2>

<p>
    Once Azshara's servants are dead, you will witness a long, scripted event,
    during which you will need to mount some Bronze Drakes that will eventually
    fly you down, next to the Well of Eternity.
</p>

<h3 id="sec-6-1">6.1. Prelude</h3>

<p>
    After landing, you will be accompanied by Illidan Stormrage and Tyrande
    Whisperwind. Together, you will have to clear a path to the last boss
    encounter, against <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/54969">Mannoroth</a> and <a rel="nofollow" class="npc" href="http://www.wowdb.com/npcs/55419">Varo'then</a>. The trash mobs you will have to
    face are extremely easy to defeat, and should not strain your party at all.
</p>

<p>
    While fighting the trash, Illidan will imbue himself with
    <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/ability_mage_conjurewater11.jpg" alt="Waters of Eternity Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103952">Waters of Eternity</a></span>. This buff grants him, and any players in close
    proximity to him, highly reduced damage taken from Fire attacks. This buff
    persists during the fight against the bosses, and is very important.
</p>

<h3 id="sec-6-2">6.2. Varo'then and Mannoroth</h3>

<p>
    When first engaging the two bosses, Illidan will single-handedly tank
    Mannoroth, while your party must kill Varo'then. After Varo'then is dead,
    Mannoroth will enter a second phase of the encounter, during which he
    should be nuked.
</p>

<p>
    <a class="highslide map float_left" href="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-fel-firestorm.jpg" onclick="return hs.expand(this, { anchor: 'top left' })">
        <img alt="Hour of Twilight - Mannoroth - Fel Firestorm" src="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-fel-firestorm-small.jpg" />
    </a>
    Varo'then only has one ability, <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/item_sparkofragnoros.jpg" alt="Magistrike Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103669">Magistrike</a></span>, which requires your party
    to spread out a bit (the ability chains to nearby targets). In the meanwhile,
    Mannoroth will regularly place down many fire
    patches (<span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_fire_felrainoffire.jpg" alt="Fel Firestorm Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103888">Fel Firestorm</a></span>). It is very difficult to avoid these, so you
    need to be constantly on the move while he channels the ability.
</p>

<p>
    <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-blessing-of-elune.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
        <img alt="Hour of Twilight - Mannoroth - Blessing of Elune" src="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-blessing-of-elune-small.jpg" />
    </a>
    Additionally, many Doomguard Devastators will exit a portal and attempt to
    harm your party, but Tyrande deals with them easily. At a certain point, two
    Dreadlord Debilitators will incapacitate Tyrande. As a result, the Doomguard
    Devastators will begin to overwhelm your party. You must kill the Debilitators
    in order to free Tyrande (they are channeling a spell that cannot be
    interrupted). While Tyrande is incapacitated, there is a beam of moonlight,
    <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_nature_moonglow.jpg" alt="Blessing of Elune Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/103917">Blessing of Elune</a></span>. Standing in the moonlight causes players to deal
    massive Arcane damage (in addition to their current damage) to the
    Doomguard Devastators.
</p>

<p>
    <a class="highslide map float_left" href="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-sword.jpg" onclick="return hs.expand(this, { anchor: 'top left' })">
        <img alt="Hour of Twilight - Mannoroth - Sword" src="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-sword-small.jpg" />
    </a>
    Once Varo'then is dead, he drops his sword. This item should be right-clicked by
    a party member. This weakens Mannoroth and causes him to enter the second
    phase of the encounter, at which point your party should nuke him.
</p>

<p>
    <a class="highslide map float_right" href="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-demons.jpg" onclick="return hs.expand(this, { anchor: 'top right' })">
        <img alt="Hour of Twilight - Mannoroth - Demons" src="//static.icy-veins.com/images/wow/well-of-eternity-mannoroth-demons-small.jpg" />
    </a>
    As Mannoroth's health drops, various demons spawn from a nearby portal
    and attack the party. Despite their high numbers, you should not try disposing
    of them (this is Tyrande's role), but should keep focusing on Mannoroth instead.
</p>

<p>
    Note that in the most recent PTR build, prior to live release, Mannoroth
    had a massive health pool (roughly 80M) and it took our party an extremely
    long time to grind down his health.
</p>

<p>
    Finally, if the fight lasts long enough (if a party member is dead or if
    your DPS is low), Illidan will cast <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_shadow_demonform.jpg" alt="Gift of Sargeras Icon" /> <a rel="nofollow" class="spell" href="http://www.wowdb.com/spells/104998">Gift of Sargeras</a></span> on himself
    and the entire party. This provides a substantial buff, allowing you to
    finish off Mannoroth.
</p>

<h4 id="sec-6-2-1">6.2.1. Achievement: That's Not Canon!</h4>

<p>
    The <span class="spell_icon_span"><img class="spell_icon" src="//static.icy-veins.com/images/wow/large_icons/spell_misc_emotionangry.jpg" alt="That's Not Canon! Icon" /> <a rel="nofollow" class="achievement" href="http://www.wowdb.com/achievements/6070">That's Not Canon!</a></span> achievement requires your group to make use of a
    little known encounter ability. When Mannoroth reaches 90% of his health, he
    will sacrifice Varo'then, instantly killing him, and regenerating his own
    health in the process.
</p>

<p>
    As such, in order to complete this achievement, all you need to do is
    ignore Varo'then at the start of the fight, and nuke Mannoroth.
</p>

<h2 id="sec-7">7. Conclusions</h2>

<p>
    At the end of this dungeon, the Dragon Soul item will have been recovered by
    Nozdormu, who will pass it on Thrall, who will have to deliver it to Wyrmrest
    Temple, in the present time. These events are covered in the next dungeon,
    Hour of Twilight.
</p>

<p>
    We hope that, like us, you will have appreciated the stunning visual aspect of this
    dungeon, most particularly, the view from Azshara's Palace (though, your graphic card
    might disagree).
</p>
