
    body {
    background-color:#FFFFFF;
    background-image:@Url.Content("~/Content/images/img.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    }